
html,
body{
	height: 100%;
	margin: 0px;
	background: url(Mik.png);
	background-repeat: no-repeat;
	background-position: center;
}
/*HOme*/

#home {
  height: 100%;
  margin: 0px;
  opacity: 0.1;
  background-color: #000000;
 }

#middle{ 
	width: 0%;
	height: 50%;
	border-bottom: 1px solid #FFFFFF;
}

.logo{
	width: 50%;
}
.photo {
	width: 32%;
	opacity: 1;
	position: absolute;
}

.myPanel{
	position: relative;
	text-align: center;
	float: left;
	display: none;
	margin-top: 50px;
}

.myPanel>img{
	float:left;
	display:none;
}

.myPanel>a{
	color: #FFFFFF;
}

.expFadeIn{
	text-align: center;
}
.skillFadeIn{
	padding: 20%;
}
.expFadeIn,
.educFadeIn,
.skillFadeIn{
	position: absolute;
	display: none;
}


/*Social Media*/


nav>ul>li:nth-child(4)
{
	margin-right: 10px;
}
.navbar-custom
{
	background-color: #000000;
	height: 8%;	
}

/*CONTACT*/
#map{
border: 1px solid white;
}
#contactNow{
	padding: 10% 0 0;
	height: 50%;	
	background-color: #000000;
}


/*EXPERIENCE*/
#experience{
	height: 100%;
	background-color: #000000;
}


/*SKILLS*/
#skills{
	height:100%;
	background-color: #000000;
	padding: 5% 0 0 0;
}

.skillProg{

	background-color: #000000 !important;
}
.clear{
	clear: both;
}