body{
	height: 100%;
	margin: 0px;
	background-image: url(Mik.png);
	background-repeat: no-repeat;
	background-position: center;
}

.homeForm{
	margin-top: 5%;
	padding: 0 10%;
	background-color: #DDE0F3;

}
