body{
	height: 100%;
	margin: 0px;
	background-image: url(Mik.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
.ejercicio{
	padding: 0 10%; 
}
.btn-default:hover,
.btn-default:focus{
	background-color:#000000; 
}